@{
    ViewData["Title"] = "Calculo";
}

    <div class="text-center">
        <h1 class="display-4">O seu objetivo é: Através da controler, passar um parâmetro, utilizando a classe Calculo para essa tela, e mostrar o resultado!</h1>

        @*Essa linha precisa ser descomentada, para o resultado aparecer, e precisará ser configurada a variável Total, com o resultado que vêm da Controler.*@
        @*<h1 class="display-4">O seu Resultado é: @total!</h1>*@
    </div>


