@{ 
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <p>Documentação: <a href="https://docs.microsoft.com/aspnet/core"></a></p>
</div>


